<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tittle%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <main class="vh-50 p-5 container text-center d-flex justify-content-center align-items-center">
        <section>
            <div class="d-flex flex-column justify-content-center align-items-center"> 
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="/img/logo.png" alt="" class="w-75">        
                </div>
            <h1 class="display-1">Productos</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem incidunt earum in nihil libero, delectus obcaecati repellat aut enim perspiciatis suscipit, dolores quaerat deserunt cum. Veritatis, similique, sequi repudiandae consequatur assumenda officiis modi quibusdam perspiciatis esse minima aliquid ipsum nesciunt enim eaque accusantium nostrum tempore beatae nisi doloribus odit! Voluptatum tempora iusto at, tenetur placeat vitae laborum repellendus maxime voluptatibus nemo est iure numquam ullam. Quos eum architecto quod vero blanditiis doloribus accusamus vel rem. Libero rem debitis impedit alias laborum repudiandae itaque, praesentium dolorem quis quas vero? Provident deleniti quisquam natus asperiores doloribus, saepe rerum. Obcaecati tenetur corrupti voluptates.
            </p>
        </section> 
    </main>
    <%- include('partials/footer')%>
</body>
</html>